DI.Reminder.Data/Connected Services/AppService/Advertising1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DI.Reminder.Service.Advertising" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DI.Reminder.Service.Advertising" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdvertItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvertItem" nillable="true" type="tns:AdvertItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertItem" nillable="true" type="tns:ArrayOfAdvertItem" />
  <xs:complexType name="AdvertItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertItem" nillable="true" type="tns:AdvertItem" />
</xs:schema>