Application/DI.Reminder.Data/Connected Services/AdvertisingService/Advertising1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DI.Reminder.Service.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DI.Reminder.Service.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdvertisingItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvertisingItem" nillable="true" type="tns:AdvertisingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertisingItem" nillable="true" type="tns:ArrayOfAdvertisingItem" />
  <xs:complexType name="AdvertisingItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertisingItem" nillable="true" type="tns:AdvertisingItem" />
</xs:schema>